<ng-container *ngIf="this.set !== undefined && this.vclass !== undefined">
    <div id="set-header">
        <div id="set-info">
            <div (dblclick)="editSet()" style="height: inherit;">
                <h1 id="set-data">{{this.set.name}}  
                    <div id="set-emojis">
                        <span class="country" [title]="vclass.source_language">{{this.getCountryEmoji(vclass.source_language)}}</span>
                        > 
                        <span class="country" [title]="vclass.target_language">{{this.getCountryEmoji(vclass.target_language)}}</span>
                    </div>
                </h1>
                <h3 id="class-title">{{this.vclass.name}}</h3>
            </div>
            <div id="set-statistics">
                <h4 class="set-length" *ngIf="this.setWords">{{this.setWords.length}} word(s) total</h4>
                <h4 class="set-length" *ngIf="this.setWords">{{this.setWordsToday}} created today</h4>
                <h4 class="set-length" *ngIf="this.setWords">{{this.filteredWords.length}} visible</h4>
            </div>
        </div>
        
        <div id="search-bar">
            <mat-form-field class="search-field">
                <mat-label>Search</mat-label>
                <mat-chip-list #chipList>
                    <mat-chip
                        *ngFor="let tag of selectedTags"
                        (removed)="removeTag(tag.id)"
                        (click)="addTagToSearch(tag.id)"
                    >
                        <div style="display: flex; flex-direction: row;">
                            <div>{{tag.value}}</div>
                            <div class="badge">{{this.tagFrequency[tag.id] ?? 0}}</div>
                        </div>
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>

                    <input
                        #searchInput
                        matInput
                        (keyup)="search()"
                        placeholder="Search for words or tags    here..."
                        [matAutocomplete]="autocomplete"
                        [matChipInputFor]="chipList"
                    >
                </mat-chip-list>
                <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="addTagToSearch($event.option.value)">
                    <mat-option *ngFor="let tag of allTags" [value]="tag.id">
                        <div style="display: flex; flex-direction: row;">
                            <div>{{tag.value}}</div>
                            <div class="badge">{{this.tagFrequency[tag.id] ?? 0}}</div>
                        </div>
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>
            <voby-favorite style="margin-top: auto;margin-bottom:auto;" (click)="toggleShowFavorites()" matTooltip="Show only favorites"></voby-favorite> 
            <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-top: auto;margin-bottom: auto;" matTooltip="Sorting options"><mat-icon>sort</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="sortDateDesc()">Recent first</button>
                <button mat-menu-item (click)="sortDateAsc()">Older first</button>
            </mat-menu>
        </div>
        <div class="action-cont">
            <button mat-icon-button color="accent" (click)="createWord()" matTooltip="Add word"><mat-icon>add</mat-icon>word</button>
            <button mat-icon-button (click)="editSet()" matTooltip="Edit set"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="deleteSet()" class="action-icon" matTooltip="Delete set"><mat-icon>delete_outline</mat-icon></button>
        </div>
    </div>
    <voby-loading-ind *ngIf="loading"></voby-loading-ind>

    <div class="layout-horizontal" *ngIf="!loading">
        <div class="word-container" *ngIf="this.filteredWords.length > 0">
            <ng-container *ngFor="let word of this.filteredWords; index as i">
                <voby-single-word-row
                    [word]="word"
                    [selected]="word !== undefined && word.id === selectedWord?.id"
                    (click)="this.selectWord(word.id)"
                    (dblclick)="this.selectWord(word.id);editWord()"
                    (wordFavorited)="this.processFavoritedWord($event)"
                ></voby-single-word-row>
                <p  
                    *ngIf="i < this.filteredWords.length -1 && word.created.split('T')[0] != this.filteredWords[i+1].created.split('T')[0]"
                    class="date-change"   
                >{{this.filteredWords[i+1].created.split('T')[0]}}</p>
            </ng-container>
        </div>
    
        <voby-word-detail-panel
            [word]="this.selectedWord"
            [allWords]="this.allWords"
            [allTags]="this.allTags"
            [vclass]="this.vclass"
            [setId]="this.set.id"
            (wordSelected)="this.selectWord($event)"
            (wordDeselected)="this.selectedWord = undefined"
            (wordDeleted)="this.deleteSelectedWord()"
            (wordEdited)="processEditedWord($event)"
            (tagSelected)="addTagToSearch($event)"
        ></voby-word-detail-panel>
        
        <!-- <mat-card *ngIf="selectedWord === undefined && this.filteredWords.length > 0" class="word-detail-container"> -->
        <p *ngIf="this.filteredWords.length === 0" class="empty-message">No words found :(</p>
    </div>
</ng-container>
