.mat-card {
    width: 30%;
    margin: 1em;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
}

.mat-form-field {
    margin-top: 14px;
}

.mat-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;

    & ul {
        list-style: none;
    }
}

.mat-card-title {
    width: 300px;
}

.alternatives {
    margin-left: auto;
    margin-bottom: 0;
    font-size: 1.2em;
}

.favorite {
    margin-left: auto;
}

.set-header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content:space-between;

    & .set-data {
        margin: 1em;
        margin-bottom: 0;
    }
}

.layout-horizontal {
    display: flex;
    flex-direction: row;
}

.word-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.word {
    width: 100%;

    & .mat-card-content {
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
        background-color: rgb(235, 235, 235);
    }
}

.card-title {
    padding: 0 !important;
}

.class-title {
    margin-left: 2em;
    margin-top: -.5em;
    color: rgb(96, 96, 96);
}

.word-detail-container {
    width: 50%;
    margin-left: 50px;

    & .mat-card-content {
        display: block;
        margin-bottom: 50px;
    }
}

.empty-message {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    font-size: 2em;
    color: #cccc;
    user-select: none;
    text-align: center;
}

.action-single {
    border: none;
    background-color: #673ab7;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5em;
    margin-right: 5em;
    padding: 0 1em;
    width: auto;
    border-radius: 100px;
}

.search-bar {
    width: 50%;
    display: flex;
    justify-content: center;

    & .search-field {
        width: 50%;
    }
}
