.word-detail-container {
  min-height: 600px;
  margin-left: 0;
  margin-right: 1em;
  width: 500px;
  border-radius: 10px;
  min-width: 300px;
  height: 100%;

  .word-card-content {
    position: fixed;
    width: inherit;
    height: 100%;
  }
}

.info-container {
  background-color: #f9f9f9;
  border-radius: 10px;

  margin: .5em;
  padding-top: .5em;
  display: block;

  .general-text {
    width: inherit;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.action-icon {
  margin-top: -1em;
}

.active-chip {
  background-color:var(--voby-primary);
  color: white;

  &:hover {
    cursor: pointer;
  }
}

mat-chip {
  &:hover {
    cursor: pointer;
  }
}

.pointer-on-hover:hover {
  cursor: pointer;
}

.default-dash {
  margin: 0;

  &.chip {
    margin-left: 8px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.spin {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
