@use './themes/voby-theme.scss' as *;

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--voby-background);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

button {
  box-shadow: none !important;
}
