.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.intro {
    background-color: #673ab7;
    height: 93.25vh;
    width: 50vw;
    z-index: -1;
}

form {
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    margin-top: 4em;
    width: 70%;
    height: 70%;
}

.mat-mdc-form-field {
    width: 400px;
}

button[type="submit"] {
    background-color: #673ab7;
    color: #ffe343;
    font-size: 1.2em;
}

a {
    text-decoration: underline;
    color: black;
    display: inline-block;
}