.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

img {
    margin-top: 4em;
    width: 30%;
    height: 30%;
}

.mat-form-field {
    width: 400px;
}

button[type="submit"] {
    background-color: #673ab7;
    color: #ffe343;
    font-size: 1.2em;
}

a {
    text-decoration: underline;
    color: black;
    display: inline-block;
}