.mat-card {
    width: 30%;
    margin: 1em;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
}

.mat-form-field {
    margin-top: 14px;
}

.mat-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;

    ul {
        list-style: none;
    }
}

.mat-card-title {
    width: 300px;
    margin: 0;
    margin-bottom: .3em;

    .word {
        margin: 0;
        width: 400px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.1em;
    }

    .plural {
        font-size: .5em;
        font-weight: 300;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    p {
        margin-left: .5em;
    }
}

.active-chip {
    background-color: #673ab7;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

.alternatives {
    margin-left: auto;
    margin-bottom: 0;
    font-size: 1.2em;
}

.favorite {
    margin-left: auto;
}

#class-header {
    #class-info {
        display: flex;
        flex-direction: row;

        #class-data {
            margin: 1em;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
        }

        #class-emojis {
            margin-left: .5em;
        }
     }
}

.layout-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.word-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    width: 60%;
}

.word {
    width: auto;
    min-width: 45%;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
    max-height: 50px;
    flex-grow: 1;

    .mat-card-content {
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
        background-color: rgb(235, 235, 235);
        box-shadow: rgb(255, 215, 64) 5px 5px 0px;
    }
}

.word-detail-container {
    min-height: 600px;
    margin-left: 0;
    border-radius: 10px;
    min-width: 300px;

    .word-card-content {
        position: fixed;
        width: inherit;
    }
}

.empty-message {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    font-size: 2em;
    color: #cccc;
    user-select: none;
    text-align: center;
}

.action-single {
    border: none;
    background-color: #673ab7;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5em;
    margin-right: 5em;
    padding: 0 1em;
    width: auto;
    border-radius: 100px;
}

.card-title {
    .word-word {
        padding: 0;
        margin: 0;
    }
}

.action-icon {
    margin-top: -1em;
}

.card-list-item-cont {
    height: 40px;
}

.action-cont {
    margin-top: 1em;
    margin-bottom: auto;
    margin-right: 5em;

    button {
        border: none;

        &:first-of-type {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;

            background-color: #673ab7;
            max-width: 200em;
            width: auto;
            padding: 0 .6em;
        }

        &:last-of-type {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            background-color: rgb(240, 240, 240);
        }

        &:not(:first-of-type):not(:last-of-type) {
            border-radius: 0;
            background-color: rgb(240, 240, 240);
        }
    }
}

#search-bar {
    min-width: 50%;
    display: flex;
    justify-content: center;

    .search-field {
        width: 50%;
    }
}

.selected-word {
    background-color: rgb(235, 235, 235);
    box-shadow: rgb(255, 215, 64) 5px 5px 0px;
}

.class-info {
    display: flex;
    flex-direction: row;
}

.class-length {
    opacity: 50%;
    margin-bottom: 0;
    &:first-of-type {
        margin-top: 2em;
    }
}

.word-date {
    opacity: 50%;
    margin-top: 0em;
    margin-left: auto;
    margin-right: .4em;
    margin-bottom: 0;
}

.header {
    color: #673ab7;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pointer-on-hover:hover {
    cursor: pointer;
}

.badge {
    color: #673ab7;
    font-size: .7em;
    margin-left: .2em;
    margin-top: -.4em;
}

.info-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 1em;
    display: block;
    margin-bottom: 10px;
}

@media (width <= 900px) {
    #class-header {
        flex-direction: column;
        align-self: flex-start;

        .action-cont {
            margin: .7em;
            margin-left: auto;
        }
    }

    .word-word {
        font-size: .8em;
    }
}