.flash-container {
    width: 30%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: -5em;
    background-color: #673ab7;
    box-shadow: 4px 4px 0 #fdd441;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    * {
        color: white;
        padding: 1em;
        margin-bottom: 0;
    }

    .word-to-translate {
        text-align: center;
        font-size: 1.5em;
        font-weight: 400;
        margin-top: -1em;
        padding: 0;
    }

    .answer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .answer-input {
            flex-grow: 2;
            input::placeholder {
                color: white;
            }
        }
    }

    button[type=submit] {
        margin-right: 2em;
        margin-top: 3em;
        float: right;
        vertical-align: middle;
        padding: 0;
        height: 40px;
    }

    .close-button {
        margin: 0;
        padding: 0;
        margin-top: -.5em;

        mat-icon {
            padding: 0;
        }
    }

    .result {
        margin: auto;
        font-weight: 500;
        font-size: 2em;
        color: white;
    }

    .explanation {
        margin: auto;
        margin-top: -2em;
        color: white;
        font-size: 1.2em;
        font-weight: normal;
    }
}