.set-item {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  width: 300px;
  margin: 1em;
  border-radius: 10px;
  transition: all 0.2s linear;
  padding: 0;

  &:hover {
    cursor: pointer;
    box-shadow: var(--voby-accent) 5px 5px 0px;
  }
}

.card-footer {
  display: flex;
  flex-direction: row;
  background-color: var(--voby-primary);
  padding: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  button {
    color: var(--voby-text-primary);
  }

  button:disabled {
    color: lightgray;
  }
}

.spin {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.set-name {
  padding: 0.6em;
  padding-bottom: 0;
  margin: 0;
  font-weight: 500;
}