<div class="flash-container" *ngIf="testWord !== undefined && !hide">
    <voby-loading-ind *ngIf="loading"></voby-loading-ind>

    <ng-container *ngIf="answerCorrect === undefined">
        <div style="display:flex; flex-direction: row;">
            <!-- <h3 style="width: 100%; padding-top: 0;">Can you translate...</h3> -->
            <button mat-icon-button class="close-button" (click)="this.closeTest()"><mat-icon>close</mat-icon></button>
        </div>

        <p class="word-to-translate">{{this.getCountryEmoji(this.testWord.source_language)}} {{testWord.word}}</p>
        <mat-icon style="margin-top: .6em;">arrow_forward</mat-icon>
        <div class="answer-container">
            <mat-form-field class="answer-input">
                <input matInput #translation>
                <p matPrefix>{{this.getCountryEmoji(this.testWord.target_language)}}</p>
            </mat-form-field>

            <button mat-icon-button type="submit" (click)="checkAnswer()" color="accent"><mat-icon fontIcon="check"></mat-icon></button>
        </div>
    </ng-container>

    <ng-container *ngIf="this.answerCorrect === true">
        <p class="result">Correct!</p>
    </ng-container>
    
    <ng-container *ngIf="this.answerCorrect === false">
        <p class="result">False!</p>
        <p class="explanation">The answer is:<br>"{{testWord.translations}}"</p>
    </ng-container>
</div>