<ng-container>
    <div id="header">
        <div id="info" *ngIf="!this.loadingHeader">
            <div id="data" *ngIf="this.vclass">
                <div (dblclick)="this.needSet && this.editSet()" style="display: flex;flex-direction: column;">
                    <span *ngIf="this.needSet">{{this.set.name}}</span>
                    <span *ngIf="!this.needSet">{{this.vclass.name}}</span>
                    <span *ngIf="this.needSet" id="class-title">{{this.vclass.name}}</span>
                </div>
                <div id="emojis">
                    <span class="country" [title]="vclass.source_language">{{this.getCountryEmoji(vclass.source_language)}}</span>
                    > 
                    <span class="country" [title]="vclass.target_language">{{this.getCountryEmoji(vclass.target_language)}}</span>
                </div>
                <div>
                    <h4 class="size">{{this.numberOfWords}} word(s) total (page {{this.currentPage}}/{{this.numberOfPages}})</h4>
                </div>
            </div>

            <div class="action-cont" *ngIf="this.needSet">
                <button mat-icon-button color="accent" (click)="createWord()" matTooltip="Add word"><mat-icon>add</mat-icon>word</button>
                <button mat-icon-button (click)="editSet()" matTooltip="Edit set"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button (click)="deleteSet()" class="action-icon" matTooltip="Delete set"><mat-icon>delete_outline</mat-icon></button>
            </div>
        </div>

        <div id="search-bar">
            <mat-form-field class="search-field">
                <mat-label>Search</mat-label>
                <mat-chip-list #chipList>
                    <mat-chip
                        *ngFor="let tag of selectedTags"
                        (removed)="removeTag(tag.id)"
                        (click)="addTagToSearch(tag.id)"
                    >
                        <div style="display: flex; flex-direction: row;">
                            <mat-icon>tag</mat-icon><div>{{tag.value}}</div>
                        </div>
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>

                    
                    <form [formGroup]="searchForm" (ngSubmit)="search(false, true)" style="width: 100%; display: flex;flex-direction: row;">
                        <input
                            matInput
                            formControlName="search"
                            placeholder="Search for words or tags here..."
                            [matAutocomplete]="autocomplete"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"                            style="width: 100%;"
                        >
                    </form>
                </mat-chip-list>
                <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="addTagToSearch($event.option.value)">
                    <mat-option *ngFor="let tag of allTags" [value]="tag.id">
                        <div style="display: flex; flex-direction: row;align-content: end;">
                            <div><mat-icon>tag</mat-icon>{{tag.value}}</div>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-icon-button (click)="search(false, true)" style="margin-top: auto;margin-bottom: auto;" matTooltip="Search"><mat-icon>search</mat-icon></button>
            <voby-favorite style="margin-top: auto;margin-bottom:auto;" (click)="toggleShowFavorites()" matTooltip="Show only favorites"></voby-favorite> 
            <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-top: auto;margin-bottom: auto;" matTooltip="Sorting options"><mat-icon>sort</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="sortDateDesc()">Recent first</button>
                <button mat-menu-item (click)="sortDateAsc()">Older first</button>
            </mat-menu>
        </div>
    </div>

    <voby-loading-ind *ngIf="loadingWords"></voby-loading-ind>
    <div class="layout-horizontal">
        <div class="word-container" *ngIf="this.filteredWords.length > 0">
            <ng-container *ngFor="let word of this.filteredWords; index as i">
                <voby-single-word-row
                    [word]="word"
                    [selected]="word !== undefined && word.id === selectedWord?.id"
                    (click)="this.selectWord(word.id)"
                    (dblclick)="this.selectWord(word.id);editWord()"
                    (wordFavorited)="this.processFavoritedWord($event)"
                ></voby-single-word-row>
                <p  
                *ngIf="i < this.filteredWords.length -1 && word.created.split('T')[0] != this.filteredWords[i+1].created.split('T')[0]"
                class="date-change"   
            >{{this.filteredWords[i+1].created.split('T')[0]}}</p>
            </ng-container>

            <div class="page-number-cont">
                <ng-container *ngIf="this.numberOfPages > this.PAGE_SKIP_BUTTON_THRESHOLD && this.currentPage != 1">
                    <button mat-raised-button
                        (click)="this.currentPage = 1;this.search(true)"
                        class="page-number"
                    >
                        <<
                    </button>
                </ng-container>
                <button mat-raised-button
                    *ngFor="let page of this.pagesToDisplay"
                    (click)="this.currentPage = page+1;this.search(true)"
                    [ngClass]="{'page-number': true, 'current-page': this.currentPage === page+1}"
                >
                    {{page+1}}
                </button>
                <ng-container *ngIf="this.numberOfPages > this.PAGE_SKIP_BUTTON_THRESHOLD && this.currentPage != this.numberOfPages">
                    <button mat-raised-button
                        (click)="this.currentPage = this.numberOfPages;this.search(true)"
                        class="page-number"
                    >
                        >>
                    </button>
                </ng-container>
            </div>
        </div>

        <voby-word-detail-panel
            [word]="this.selectedWord"
            [allTags]="this.allTags"
            [vclass]="this.vclass"
            [setId]="this.setId"
            [isSet]="this.needSet"
            (wordSelected)="this.selectWord($event)"
            (wordDeselected)="this.selectedWord = undefined"
            (wordDeleted)="this.selectedWordDeleted()"
            (wordEdited)="processEditedWord($event)"
            (tagSelected)="addTagToSearch($event)"
        ></voby-word-detail-panel>

        <p *ngIf="!this.loadingWords && this.filteredWords.length === 0" class="empty-message">No words found :(</p>
    </div>
</ng-container>
