<div id="action-bar">
  <button mat-raised-button color="accent" (click)="openClassForm()"><mat-icon fontIcon="add"></mat-icon> Create new class</button>
</div>


<mat-accordion>
  <mat-expansion-panel [expanded]="classes.length === 1" *ngFor="let class of classes; index as classIdx">
    <mat-expansion-panel-header (click)="selectClass(class.id)">
      <mat-panel-title>
        {{class.name}} <span class="country">{{this.getCountryEmoji(class.source_language)}}</span> > <span class="country">{{this.getCountryEmoji(class.target_language)}}</span>
      </mat-panel-title>
      <mat-panel-description>
        Contains {{class.sets.length}} vocabulary sets
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <ng-container *ngFor="let set of class.sets; index as i">
        <mat-list-item matRipple class="set-item" (click)="redirect(set.id)">{{set.name}}
          <div style="margin-left:auto">
            <button mat-icon-button (click)="editSet($event, set.vclass,set.id)"><mat-icon>edit</mat-icon></button> 
            <button mat-icon-button (click)="deleteSet($event, set.vclass,set.id)"><mat-icon>delete</mat-icon></button>
          </div>
        </mat-list-item>
        <mat-divider *ngIf="i != class.sets.length -1"></mat-divider>
      </ng-container>

      <div class="action-cont">
        <button mat-icon-button color="accent" (click)="createVocabSet(class.id)">
          <mat-icon fontIcon="add"></mat-icon> set
        </button>
        <!-- <button mat-icon-button><mat-icon>visibility</mat-icon></button>  -->
        <button mat-icon-button (click)="editClass(class.id)"><mat-icon>edit</mat-icon></button> 
        <button mat-icon-button (click)="deleteClass(class.id)"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
