form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.example-translation {
    margin-top: -1em;
}

.remove-example-btn {
    width: 35px;
    height: 35px;
    min-width: 0;
    min-height: 0;
    padding: 0;
    border-radius: 100px;
}

.add-example-btn {
    border-radius: 100px;
    margin-top:-1em;
}

.similar-word-suggestion {
    background-color: #fffbee;
    border: 2px #fed53f dashed;

    &:hover {
        cursor: pointer;
    }
}