<form [formGroup]="wordForm" id="word-form-container">
    <mat-form-field appearance="fill">
        <mat-label>Word</mat-label>
        <input cdkFocusInitial
            matInput
            name="word"
            #wordInput
            formControlName="word"
            (keyup)="checkSimilar()"
        >
        <div *ngIf="this.similarWord" matSuffix>
            <mat-icon
                fontIcon="fmd_bad"
                matSuffix
                matTooltip="Potentially duplicate: {{this.similarWord.word}}"
                style="color: #686868"
            >
            </mat-icon>
        </div>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Translations</mat-label>
        <!-- <input
            matInput
            name="translation"
            formControlName="translation"
        > -->
        <mat-chip-list #chipGrid aria-label="Translations">
            <mat-chip *ngFor="let translation of translations"
                          (removed)="remove(translation.value)">
              {{translation.value}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
                placeholder="translation..."
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                matChipInputAddOnBlur="true"
                (matChipInputTokenEnd)="add($event)"
                name="translation"
                formControlName="translation"
            />
          </mat-chip-list>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Plural</mat-label>
        <input
            matInput
            name="plural"
            formControlName="plural"
        >
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>General</mat-label>
        <textarea matInput formControlName="general"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Related words</mat-label>
        <mat-chip-list #chipList>
            <mat-chip
                *ngFor="let word of wordForm.get('relatedWords')?.value"
                (removed)="removeRelatedWord(word.id)"
            >
                {{word.word}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            
            <input
                placeholder="word..."
                #relatedWordInput
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                (keyup)="filterWords()"
            >
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectRelatedWord($event)">
            <mat-option *ngFor="let word of filteredRelatedWords" [value]="word.id">
                {{word.word}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <h3 style="margin-top: 1em">Examples</h3>

    <ng-container *ngFor="let example of examples; index as i">
        <div [style]="{'margin-top': i === 0 ? '-1em' : '1.5em', 'display': 'flex', 'flex-direction': 'row'}">
            <button mat-flat-button type="button" (click)="removeExample(i)" class="remove-example-btn">-</button>
            <div style="display: flex; flex-direction: column;width:100%">

                <mat-form-field class="input" appearance="fill">
                    <mat-label>Text</mat-label>
                    <input
                        matInput
                        [value]="''"
                        [formControlName]="i.toString() + 'tx'"
                    >
                </mat-form-field>
                <mat-form-field class="input example-translation" appearance="fill">
                    <mat-label>Translation</mat-label>
                    <input
                        matInput
                        [value]="''"
                        [formControlName]="i.toString() + 'tr'"
                    >
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <button mat-flat-button type="button" class="add-example-btn" (click)="addExample()" ><mat-icon>add</mat-icon></button>

    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-button type="submit" color="primary" cdkFocusInitial (click)="submit()">Submit</button>
    </div>
</form>