<form [formGroup]="wordForm">
    <mat-form-field class="input" appearance="fill">
        <mat-label>Word</mat-label>
        <input 
            matInput
            name="word"
            formControlName="word"
        >
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>Translation</mat-label>
        <input
            matInput
            name="translation"
            formControlName="translation"
        >
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
        <mat-label>General</mat-label>
        <textarea matInput formControlName="general"></textarea>
    </mat-form-field>


    <h3 style="margin-top: 1em">Examples</h3>

    <ng-container *ngFor="let example of examples; index as i">
        <div [style]="{'margin-top': i === 0 ? '-1em' : '1.5em', 'display': 'flex', 'flex-direction': 'row'}">
            <button mat-flat-button type="button" (click)="removeExample(i)" class="remove-example-btn">-</button>
            <div style="display: flex; flex-direction: column;width:100%">

                <mat-form-field class="input" appearance="fill">
                    <mat-label>Text</mat-label>
                    <input
                        matInput
                        [value]="example.text"
                        [formControlName]="i.toString() + 'tx'"
                    >
                </mat-form-field>
                <mat-form-field class="input example-translation" appearance="fill">
                    <mat-label>Translation</mat-label>
                    <input
                        matInput
                        [value]="example.translation"
                        [formControlName]="i.toString() + 'tr'"
                    >
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <button mat-flat-button type="button" class="add-example-btn" (click)="addExample()" ><mat-icon>add</mat-icon></button>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button color="primary" cdkFocusInitial (click)="submit()">Add</button>
    </div>
</form>