<form [formGroup]="wordForm" id="word-form-container">
    <mat-form-field appearance="fill">
        <mat-label>Word</mat-label>
        <input cdkFocusInitial
            matInput
            name="word"
            #wordInput
            formControlName="word"
            (keyup)="checkSimilar()"
        >
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Translations</mat-label>
        <mat-chip-list
            #chipGrid
            aria-label="Translations"
            name="translation"
            formControlName="translation"
        >
            <mat-chip *ngFor="let translation of translations"
                            (removed)="removeTranslation(translation.value)">
                {{translation.value}}
                <button matChipRemove>
                <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input
                placeholder="enter translations..."
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                matChipInputAddOnBlur="true"
                (matChipInputTokenEnd)="addTranslation($event)"
                matInput
            />
        </mat-chip-list>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Plural</mat-label>
        <input
            matInput
            name="plural"
            formControlName="plural"
        >
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>General</mat-label>
        <textarea matInput formControlName="general"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Related words</mat-label>
        <mat-chip-list #chipList>
            <mat-chip
                *ngFor="let word of wordForm.get('relatedWords')?.value"
                (removed)="removeRelatedWord(word.id);this.wordViewRelatedWord=undefined"
                (mouseover)="getFullWordFromId(word.id)" (mouseleave)="this.wordViewRelatedWord=undefined"
            >
                {{word.word}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <input
                placeholder="search an existing word..."
                #relatedWordInput
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                (keyup)="filterWords()"
            >

            <mat-chip
                *ngFor="let word of suggestedRelatedWords"
                (click)="selectRelatedWord(word.id)"
                class="similar-word-suggestion"
                matTooltip="Suggested related word"
            >
                {{word.word}}
            </mat-chip>
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectRelatedWord($event.option.value)">
            <mat-option *ngFor="let word of filteredRelatedWords" [value]="word.id">
                {{word.word}}
            </mat-option>
        </mat-autocomplete>
        <voby-word-preview [word]="this.wordViewRelatedWord"></voby-word-preview>

    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipGridTags aria-label="Tags"
            name="tags"
            formControlName="tags">
            <mat-chip *ngFor="let tag of this.wordForm.get('tags')?.value" (removed)="removeTag(tag)">
              {{tag.value}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
                placeholder="tag..."
                [matChipInputFor]="chipGridTags"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                matChipInputAddOnBlur="true"
                (matChipInputTokenEnd)="addTag($event)"
                [matAutocomplete]="autoTags"
                matInput
                #tagInput
                (keyup)="filterTags()"
            />
          </mat-chip-list>

        <mat-autocomplete #autoTags="matAutocomplete" (optionSelected)="selectTag($event)">
            <mat-option *ngFor="let tag of filteredTags" [value]="tag.id">
                {{tag.value}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <h3 style="margin-top: 1em">Examples</h3>

    <ng-container *ngFor="let example of examples; index as i">
        <div [style]="{'margin-top': i === 0 ? '-1em' : '1.5em', 'display': 'flex', 'flex-direction': 'row'}">
            <button mat-button type="button" (click)="removeExample(i)" class="remove-example-btn"><mat-icon>close</mat-icon></button>
            <div style="display: flex; flex-direction: column;width:100%">

                <mat-form-field class="input" appearance="fill">
                    <mat-label>Text</mat-label>
                    <input
                        matInput
                        [value]="''"
                        [formControlName]="i.toString() + 'tx'"
                    >
                </mat-form-field>
                <mat-form-field class="input example-translation" appearance="fill">
                    <mat-label>Translation</mat-label>
                    <input
                        matInput
                        [value]="''"
                        [formControlName]="i.toString() + 'tr'"
                    >
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <button mat-button type="button" color="secondary" class="add-example-btn" (click)="addExample()" >+ Example </button>

    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()" style="border-radius: 100px;">Nevermind</button>
        <button mat-raised-button *ngIf="!this.passedData.edit" type="submit" color="primary" cdkFocusInitial (click)="submit()" style="border-radius: 100px;">Create word</button>
        <button mat-raised-button *ngIf="this.passedData.edit" type="submit" color="primary" cdkFocusInitial (click)="submit()" style="border-radius: 100px;">Edit word</button>
    </div>
</form>