.button-container {
    margin-top: 1em;
    margin-bottom: auto;
    margin-right: 1em;
  
    button {
      border: none;
      height: 48px;
      font-size: 1.3em;
      padding: 0;
  
      &:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
  
        background-color: var(--voby-primary);
        max-width: 200em;
        width: auto;
        padding: 0 0.6em;
      }
  
      &:last-of-type {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        background-color: var(--voby-light-background);
        color: var(--voby-text-primary);
      }
  
      &:not(:first-of-type):not(:last-of-type) {
        border-radius: 0;
        background-color: var(--voby-light-background);
        color: var(--voby-text-primary);
      }
    }
  }