@if (!skipHeader) {
  <mat-toolbar color="primary">
    <img
      src="../../assets/voby_full_tsp.png"
      height="130px"
      (click)="goHome()"
    />
    <div style="display: flex; flex-direction: row">
      @if (userExperienceDiff !== userExperience) {
        <div [@fadeAwayAnimation]="animationState" style="font-size: 0.7em">
          +{{ userExperienceDiff }}
        </div>
      }

      @if (checkIsLoggedIn()) {
        <div
          style="
            display: flex;
            flex-direction: column;
            margin-top: 0.4em;
            justify-content: center;
          "
        >
          <div class="profile-info">
            <div
              [@xpAnimation]="userExperience"
              matTooltip="{{ userExperience }} XP"
            >
              {{ userExperience }}
            </div>
            <mat-icon fontSet="material-symbols-outlined" aria-label="xp"
              >star_shine</mat-icon
            >
            <div
              [@levelAnimation]="userLevel.level"
              matTooltip="Level {{ userLevel.level }}"
            >
              {{ userLevel.level }}
            </div>
            <mat-icon aria-label="level" fontSet="material-symbols-outlined"
              >crown</mat-icon
            >
            <div
              [@baseIncrementAnimation]="streak"
              matTooltip=" {{ streak }} day streak"
            >
              {{ streak }}
            </div>
            <mat-icon aria-label="level" fontSet="material-symbols-outlined"
              >whatshot</mat-icon
            >
          </div>
          <mat-progress-bar
            mode="determinate"
            color="accent"
            [value]="userLevelProgress"
            class="xp-bar"
            matTooltip="{{ remainingExp }} XP til next level"
          ></mat-progress-bar>
        </div>

        <button mat-icon-button class="menu-icon" (click)="goToOptions()">
          <mat-icon>settings</mat-icon>
        </button>
        <voby-theme-switcher></voby-theme-switcher>
        <button mat-icon-button class="menu-icon" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      }
    </div>
  </mat-toolbar>
}
