<div class="container">
    <div class="intro">
        <p style="margin-top: 3em; margin-left: 4em; color: white; font-size: 1.5em;font-weight: 350;line-height: 2em;">
            <span style="color: #ffe343; font-size: 4em;">...</span> is a platform built to help language learners keep track and improve their vocabulary through randomized tests and quizes, as well as vocabulary management features.
            
            <br><br>
            <img src="../../assets/undraw_the_world_is_mine.svg">
        </p>
    </div>
    <form [formGroup]="loginForm">
        <h1 style="color:#323232">Welcome back !</h1>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Username</mat-label>
            <input 
                matInput
                name="username"
                formControlName="username"
            >
        </mat-form-field>
    
        <mat-form-field class="input" appearance="fill">
            <mat-label>Password</mat-label>
            <input
                type="password"
                matInput
                name="password"
                formControlName="password"
            >
        </mat-form-field>

        <button mat-flat-button type="submit" (click)="login()">login</button>
        <div style="display: flex;flex-direction: row;">
            or <a href="/register" style="margin-left: .3em">register</a>
        </div>
    </form>
</div>