<div class="container">
  <div class="intro">
    <img src="../../../../assets/voby_full_tsp.png" height="200px" />
    <p
      style="
        padding: 1em;
        color: white;
        font-size: 1.5em;
        font-weight: 350;
        line-height: 2em;
      "
    >
      <span style="color: var(--voby-accent); font-size: 4em">...</span> is a
      platform built to help language learners keep track and improve their
      vocabulary through randomized tests and quizes, as well as vocabulary
      management features. <br /><br />
    </p>
    <img class="visual" src="../../assets/undraw_the_world_is_mine.svg" />
  </div>
  <form [formGroup]="registerForm">
    <h1>Welcome aboard !</h1>
    <mat-form-field class="input" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput name="username" formControlName="username" />
    </mat-form-field>

    <mat-form-field class="input" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        name="password1"
        formControlName="password1"
      />
    </mat-form-field>

    <mat-form-field class="input" appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input
        type="password"
        matInput
        name="password2"
        formControlName="password2"
      />
    </mat-form-field>

    <button mat-flat-button type="submit" (click)="register()">register</button>
    <div style="display: flex; flex-direction: row" class="voby-secondary-text">
      or <a href="/login" style="margin-left: 0.3em">login</a>
    </div>
  </form>
</div>
