@if (classes.length > 0) {
  <div id="action-bar">
    <button
      mat-fab
      extended
      color="accent"
      (click)="openClassForm()"
      class="create-new-class-btn"
    >
      <mat-icon>add</mat-icon> Create new class
    </button>
    @if (toShowQuizButton) {
      <button
        mat-fab
        extended
        color="primary"
        (click)="showQuiz()"
        class="quiz-btn"
      >
        <mat-icon>bolt</mat-icon>Quiz
      </button>
    }
  </div>
}

<voby-dashboard-flash
  [hide]="toShowQuizButton"
  (close)="hideQuiz()"
></voby-dashboard-flash>
@if (loading) {
  <voby-loading-ind></voby-loading-ind>
}
@if (!loading && classes.length > 0) {
  <div style="margin: 2em">
    <div style="display: flex; flex-direction: row; align-items: center">
      <mat-select
        class="selected-class"
        [value]="selectedClassId"
        [placeholder]="selectedClass.name"
        (selectionChange)="selectClass($event.value)"
      >
        @for (class of classes; track class.id) {
          <mat-option [value]="class.id">{{ class.name }}</mat-option>
        }
      </mat-select>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          color: var(--voby-text-onbackrgound);
        "
      >
        <div class="country">
          {{ getCountryEmoji(selectedClass.source_language) }}
        </div>
        <p>></p>
        <div class="country">
          {{ getCountryEmoji(selectedClass.target_language) }}
        </div>
        Contains {{ selectedClass.sets.length }} vocabulary sets
      </div>
    </div>

    <div class="set-container">
      @for (set of selectedClass.sets; let i = $index; track set.id) {
        <voby-set-card
          [setData]="set"
          [vclassId]="selectedClass.id"
          (setDeleted)="processSetDeletion($event)"
        >
        </voby-set-card>
      }
    </div>

    <div style="display: flex; flex-direction: row; margin-top: 1em">
      <voby-button-array [buttons]="this.dashboardActions"> </voby-button-array>
    </div>
  </div>
}

<a class="download-zip-link" #downloadZipLink></a>
