#class-creation-item {
  background-color: var(--voby-accent);
  text-align: center;
}

#classes-cont {
  margin: 10px;
}

.set-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.country {
  font-size: 2em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

@media (width <= 800px) {
  voby-dashboard-flash {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.new-button {
  background-color: var(--voby-primary);
  border-radius: 10px;
  padding: 0;
  transition: all 0.2s linear;
  width: 40px;
  height: 40px;
  color: var(--voby-text-onbackground) !important;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;

  mat-icon {
    margin: 0;
    padding: 0;
    color: var(--voby-text-onbackground);
  }
}

.selected-class {
  width: auto;
  font-size: 2em;
  color: var(--voby-text-primary);
}