@if (classes.length > 0) {
  <div id="action-bar">
    <button
      mat-fab
      extended
      color="accent"
      (click)="openClassForm()"
      class="create-new-class-btn"
    >
      <mat-icon>add</mat-icon> Create new class
    </button>
    @if (toShowQuizButton) {
      <button
        mat-fab
        extended
        color="primary"
        (click)="showQuiz()"
        class="quiz-btn"
      >
        <mat-icon>bolt</mat-icon>Quiz
      </button>
    }
  </div>
}

<voby-dashboard-flash
  [hide]="toShowQuizButton"
  (close)="hideQuiz()"
></voby-dashboard-flash>
@if (loading) {
  <voby-loading-ind></voby-loading-ind>
}
@if (!loading && classes.length > 0) {
  <div style="margin: 2em">
    <div style="display: flex; flex-direction: row; align-items: center">
      <mat-select
        class="selected-class"
        [value]="selectedClassId"
        [placeholder]="selectedClass.name"
        (selectionChange)="selectClass($event.value)"
      >
        @for (class of classes; track class.id) {
          <mat-option [value]="class.id">{{ class.name }}</mat-option>
        }
      </mat-select>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          color: var(--voby-text-primary);
        "
      >
        <div class="country">
          {{ getCountryEmoji(selectedClass.source_language) }}
        </div>
        <p>></p>
        <div class="country">
          {{ getCountryEmoji(selectedClass.target_language) }}
        </div>
        Contains {{ selectedClass.sets.length }} vocabulary sets
      </div>
    </div>

    <div class="set-container">
      @for (set of selectedClass.sets; let i = $index; track set.id) {
        <voby-set-card
          [setData]="set"
          [vclassId]="selectedClass.id"
          (setDeleted)="processSetDeletion($event)"
        >
        </voby-set-card>
      }
    </div>

    <div style="display: flex; flex-direction: row">
      <div class="action-cont">
        <button
          mat-button
          color="accent"
          (click)="createVocabSet(selectedClass.id)"
          matTooltip="Add new set"
        >
          <mat-icon fontIcon="add"></mat-icon> set
        </button>
        <button
          mat-button
          (click)="showAllWordsOfClass(selectedClass.id)"
          matTooltip="Show all words of class"
          [disabled]="!hasWords(selectedClass.id)"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          mat-button
          (click)="editClass(selectedClass.id)"
          matTooltip="Edit class"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-button
          (click)="downloadClassReport(selectedClass.id)"
          matTooltip="Download class data"
          [disabled]="!hasWords(selectedClass.id)"
        >
          <mat-icon>download</mat-icon>
        </button>
        <button
          mat-button
          (click)="deleteClass(selectedClass.id)"
          matTooltip="Delete class"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div class="sec-action-cont">
        <button
          mat-button
          (click)="startTest(selectedClass.id)"
          [disabled]="!hasWords(selectedClass.id)"
          matTooltip="Class test"
        >
          <mat-icon>quiz</mat-icon> Test
        </button>
        @if (selectedClass.source_language == "German") {
          <button
            mat-button
            (click)="startGermanNounTest(selectedClass.id)"
            matTooltip="Special test: Genders of nouns"
            [disabled]="
              !hasWords(selectedClass.id) || !selectedClass.has_german_nouns
            "
          >
            <mat-icon>quiz</mat-icon
            ><mat-icon class="special">star</mat-icon>Noun Gender Test
          </button>
        }
      </div>
    </div>
  </div>
}

<a class="download-zip-link" #downloadZipLink></a>
