#class-creation-item {
  background-color: rgb(255, 215, 64);
  text-align: center;
}

#action-bar {
  margin: 30px;

  button {
    border-radius: 100px;
  }
}

#classes-cont {
  margin: 10px;
}

.set-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.action-cont {
  margin-top: 1em;
  margin-bottom: auto;
  margin-right: 1em;

  button {
    border: none;
    height: 48px;
    font-size: 1.3em;
    padding: 0;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;

      background-color: #673ab7;
      max-width: 200em;
      width: auto;
      padding: 0 0.6em;
    }

    &:last-of-type {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      background-color: rgb(240, 240, 240);
    }

    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 0;
      background-color: rgb(240, 240, 240);
    }
  }
}

.sec-action-cont {
  margin-top: 1em;
  margin-bottom: auto;
  margin-right: 5em;

  .special {
    position: relative;
    right: 8px;
    top: -10px;
    font-size: 1em;
    color: #673ab7;
  }

  button {
    border: none;
    border-radius: 100px;
    max-width: 200em;
    width: auto;
    padding: 0 0.8em;
    background-color: #f0f0f0;
    height: 48px;
    font-size: 1.3em;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;

      max-width: 200em;
      width: auto;
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      background-color: rgb(240, 240, 240);
    }

    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 0;
      background-color: rgb(240, 240, 240);
    }

    &:first-of-type:last-of-type {
      border-radius: 100px;
    }
  }
}

.country {
  font-size: 2em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

@media (width <= 800px) {
  voby-dashboard-flash {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}