<mat-card matRipple [ngClass]="{'card': true, 'selected-word': selected}" >
    <mat-card-content class="card-content">
        <div class="card-title">
            <div class="word-cont">
                <mat-icon *ngIf="word.sets.length > 1" matTooltip="This word is linked to multiple sets">link</mat-icon>
                <p class="word">{{word.word}}</p>
            </div>
            <p class="plural">{{word.plural}}</p>
        </div>
        <p class="translations">
            {{this.displayTranslations(word.translations)}}
        </p>
        <voby-favorite
            matTooltip="Set as favorite"
            class="favorite"
            [isFavorite]="word.favorite"
            (click)="toggleFavorite(word.id, word.favorite)"
        ></voby-favorite>
    </mat-card-content>
</mat-card>