<div class="container">
    <voby-loading-ind *ngIf="loading"></voby-loading-ind>

    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <h3 style="padding: 1em;">Can you answer all {{questions.length}} questions correctly? </h3>
        <mat-slide-toggle [disabled]="!hasFavorites" (click)="toggleFavorites()" style="margin-right: 3em;"><mat-icon>favorite</mat-icon>only</mat-slide-toggle>
    </div>

    <mat-card appearance="outlined" *ngFor="let q of questions; index as i" style="margin: 2em">
        <mat-card-content>
            <h2>{{q['word']}}</h2>
            <div class="answer-container">
                <mat-form-field class="answer-input">
                    <mat-label>Answer</mat-label>
                    <input [disabled]="questionState[i] !== 0" matInput placeholder="type your answer here..." #input>
                </mat-form-field>
                <mat-icon *ngIf="questionState[i] === this.CORRECT" style="color: green;" [matTooltip]="q['translations']">check_circle</mat-icon>
                <mat-icon *ngIf="questionState[i] === this.INCORRECT" style="color: red;" [matTooltip]="q['translations']">cancel</mat-icon>
            </div>
        </mat-card-content>
        <mat-card appearance="outlined" *ngIf="questionState[i] === this.INCORRECT">
            <mat-card-content>
                Answer: {{q['translations']}}
            </mat-card-content>
        </mat-card>
    </mat-card>


    <button mat-button type="submit" (click)="validateAnswers()" [disabled]="this.questionsValidated" color="accent" style="background-color: #673ab7;float:right; margin: 1em;font-size: 1.3em;">Submit</button>
    <button mat-button *ngIf="this.questionsValidated" (click)="refreshTest()" [disabled]="!this.questionsValidated" color="primary" style="background-color: #ffd740;float:right; margin: 1em; margin-right: 0;font-size: 1.3em;"><mat-icon>refresh</mat-icon></button>
</div>