::ng-deep .cdk-overlay-pane {
    overflow-y: scroll;
    overflow-x: hidden;
    width: auto !important;
    max-height: 100vh;
    border-radius: 10px;
}

::ng-deep .mat-button-disabled {
    mat-icon {
        color: rgb(195, 195, 195) !important;
    }
}

::ng-deep .mat-progress-bar-buffer {
    background-color: white !important;
}

::ng-deep body {
    background-color: hsl(263, 52%, 98%); 
}

::ng-deep div[id^="mat-autocomplete-"] {
    padding: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}