.info-container {
    position: absolute;
    z-index: 99;
    max-width: 100px;
    max-height: 150px;
    width: 100px;
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}