<div class="container">
    <voby-loading-ind *ngIf="loading"></voby-loading-ind>

    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <h3 style="padding: 1em;">Do you know all {{questions.length}} genders? </h3>
        <mat-slide-toggle [disabled]="!hasFavorites" (click)="toggleFavorites()" style="margin-right: 3em;"><mat-icon>favorite</mat-icon>only</mat-slide-toggle>
    </div>

    <mat-accordion style="z-index:999;position: absolute; width: 100%;">
        <mat-expansion-panel> 
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon style="color: #673ab7;">info</mat-icon>Gender Groups
            </mat-panel-title>
            <mat-panel-description>
              Gender groups help group the genders of nouns together, based on topics/areas.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="display: flex; flex-direction: row;">
            <li style="margin: 1em;">der
                <ul>
                    <li>Animals</li>
                    <li>Days, Months, Seasons</li>
                    <li>Drinks</li>
                    <li>Outer Space</li>
                    <li>Compass, Weather</li>
                </ul>
            </li>
            <li style="margin: 1em;">die
                <ul>
                    <li>Trees, Flowers</li>
                    <li>Outer Space</li>
                </ul>
            </li>
            <li style="margin: 1em;">das
                <ul>
                    <li>Units of measurement</li>
                    <li>Colours</li>
                    <li>Languages</li>
                    <li>Letters of the Alphabet</li>
                </ul>
            </li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon style="color: #673ab7;">info</mat-icon>Noun Endings
            </mat-panel-title>
            <mat-panel-description>
                You can usually figure out the gender of the noun based on its ending
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul style="display: flex; flex-direction: row;">
            <li style="margin: 1em;">der
                <ul>
                    <li>-ant</li>
                    <li>-anz (monosyllabic)</li>
                    <li>-ich</li>
                    <li>-ig</li>
                    <li>-or</li>
                    <li>-ismus</li>
                </ul>
            </li>
            <li style="margin: 1em;">die
                <ul>
                    <li>-anz</li>
                    <li>-e</li>
                    <li>-ei</li>
                    <li>-enz</li>
                    <li>-heit</li>
                    <li>-ie</li>
                    <li>-keit</li>
                    <li>-schaft</li>
                    <li>-sion</li>
                    <li>-tion</li>
                    <li>-ung</li>
                    <li>-ur</li>
                </ul>
            </li>
            <li style="margin: 1em;">das
                <ul>
                    <li>-chen (diminutive)</li>
                    <li>-lein (diminutive)</li>
                    <li>-en (verb as noun)</li>
                    <li>-il</li>
                    <li>-ing (borrowed from English)</li>
                    <li>-ma (borrowed from Greek)</li>
                    <li>ge- (prefix!)</li>
                    <li>-an</li>
                    <li>-ar</li>
                    <li>-ett</li>
                    <li>-o</li>

                </ul>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
      
    <div style="margin-top:10em">
        <mat-card *ngFor="let q of questions; index as i" style="margin: 2em">
            <mat-card-content>
                <h2>{{q['word']}}</h2>
                <div class="answer-container">
                    <mat-form-field class="answer-input">
                        <mat-label>Gender</mat-label>
                        <mat-select #input [disabled]="questionState[i] !== this.NOT_ANSWERED">
                            <mat-option value="der">der</mat-option>
                            <mat-option value="die">die</mat-option>
                            <mat-option value="das">das</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-icon *ngIf="questionState[i] === this.CORRECT" style="color: green;" [matTooltip]="q['gender'] + ' ' + q['word']">check_circle</mat-icon>
                    <mat-icon *ngIf="questionState[i] === this.INCORRECT" style="color: red;" [matTooltip]="q['gender'] + ' ' + q['word']">cancel</mat-icon>
                </div>
            </mat-card-content>
            <mat-card *ngIf="questionState[i] === this.INCORRECT">
                <mat-card-content>
                    Answer: {{q['gender']}}
                </mat-card-content>
            </mat-card>
        </mat-card>
    </div>


    <button mat-button type="submit" (click)="validateAnswers()" [disabled]="this.questionsValidated" color="accent" style="background-color: #673ab7;float:right; margin: 1em;font-size: 1.3em;">Submit</button>
    <button mat-button *ngIf="this.questionsValidated" (click)="refreshTest()" [disabled]="!this.questionsValidated" color="primary" style="background-color: #ffd740;float:right; margin: 1em; margin-right: 0;font-size: 1.3em;"><mat-icon>refresh</mat-icon></button>
</div>