#title:hover {
    cursor: pointer;
}

img:hover {
    cursor:pointer;
}

.xp {
    vertical-align: middle;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    font-weight: 600;

    .mat-icon {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.xp-bar {
    height: 20px;
    width: 120px;
    border-radius: 100px;
    overflow: hidden;
}

/* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version. */
::ng-deep .mdc-linear-progress__primary-bar::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 50%;
    filter: blur(2px);
    background: rgb(255, 237, 172);
    top: 50%;
    left: 10%;
    border-radius: 50%;
    transform: scaleY(1.5) translateY(-50%);
    z-index: 99;
}


