<mat-toolbar color="primary" style="display: flex;flex-direction:row;justify-content: space-between;align-content: space-between;">
    <img  src="../../assets/voby_full_tsp.png" height="130px" (click)="goHome()">
    <div style="display: flex;flex-direction:row;">
        <button mat-icon-button *ngIf="!checkIsLoggedIn()" class="menu-icon" (click)="goToLogin()">
            <mat-icon>login</mat-icon>
        </button>

        <div style="display: flex; flex-direction: column;" *ngIf="checkIsLoggedIn()">
            <div class="xp">
                <div [@xpAnimation]="this.userExperience">{{this.userExperience}}</div>
                <mat-icon aria-label="xp">psychology</mat-icon>
                <div [@levelAnimation]="userLevel.level">{{userLevel.level}}</div>
                <mat-icon aria-label="level">workspace_premium</mat-icon>
            </div>
            <mat-progress-bar mode="determinate" color="accent" [value]="userLevelProgress" style="width: 80%"></mat-progress-bar>
        </div>

        <button mat-icon-button *ngIf="checkIsLoggedIn()" class="menu-icon" (click)="goToOptions()">
            <mat-icon>settings</mat-icon>
        </button>

        <button mat-icon-button *ngIf="checkIsLoggedIn()" class="menu-icon" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>