#title:hover {
    cursor: pointer;
}

img:hover {
    cursor:pointer;
}

.xp {
    vertical-align: middle;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;

    .mat-icon {
        margin-top: auto;
        margin-bottom: auto;
    }
}