:host {
  overflow-x: hidden;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 2em;
}

.example-translation {
  margin-top: -1em;
}

.remove-example-btn {
  border-radius: 100px;
}

.add-example-btn {
  border-radius: 100px;
  margin-top: -1em;
}

.similar-word-suggestion {
  background-color: var(--voby-accent-light);
  color: var(--voby-text-onbackground);
  border: 2px #fed53f dashed;
  font-size: 1.2em;

  &:hover {
    cursor: pointer !important;
  }
}

.footer-btn {
  border-radius: 100px;
  color: var(--voby-text-primary);

  &[color="primary"] {
    background-color: var(--voby-primary);
    color: var(--voby-text-onbackground);
  }
}