.container {
    margin-top: 2em;
}

.question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.call-to-action {
    margin: 0;
    margin-left: 1em;
    font-weight: 400;
}

.answer-input {
    width: 700px;
    margin-right: 3em;
    
    input {
        width: 100%;
    }
}

.action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    #submit-button {
        background-color: #673ab7;
        padding: 1em;
        margin: 1em;
        margin-left: 0;
        font-size: 1em;
        color: #ffd740;
        border-radius: 100px;
    
        &:disabled {
            color: lightgray;
            mat-icon {
                color: lightgray;
            }
            background-color: #3a2068;
        }

        mat-icon {
            color: #ffd740;
            vertical-align: -6px;
        }
    }
    
    #refresh-button {
        background-color: #ffd740;
        margin: 1em;
        padding: 1em;
        font-size: 1em;
        border-radius: 100px;

        mat-icon {
            margin-right: 0;
        }
    }
}
