.container {
    margin-top: 2em;
}

.mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mat-card {
    border-radius: 10px;
}

.answer-input {
    width: 700px;
    margin-right: 3em;
    
    input {
        width: 100%;
    }
}

#submit-button {
    background-color: #673ab7;
    float:right;
    margin: 1em;
    font-size: 1.3em;
    color: white;
    border-radius: 100px;

    &:disabled {
        color: lightgray;
    }
}

#refresh-button {
    background-color: #ffd740;
    float:right;
    margin: 1em;
    margin-right: 0;
    font-size: 1.3em;
    border-radius: 100px;
}