.empty-message {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    font-size: 2em;
    color: #cccc;
    user-select: none;
    text-align: center;
}

.word-detail-container {
    min-height: 600px;
    margin-left: 0;
    margin-right: 1em;
    width: 500px;
    border-radius: 10px;
    min-width: 300px;

    .word-card-content {
        position: fixed;
        width: inherit;
    }
}

.header {
    color: #673ab7;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.word-date {
    opacity: 50%;
    margin-top: 0em;
    margin-left: auto;
    margin-right: .4em;
    margin-bottom: 0;
}

.info-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 1em;
    display: block;
    margin-bottom: 10px;
}

.action-icon {
    margin-top: -1em;
}

.active-chip {
    background-color: #673ab7;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

.pointer-on-hover:hover {
    cursor: pointer;
}
