.btn-main {
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;

    background-color: #673ab7;
    max-width: 200em;
    width: auto;
    padding: 0 1em;
}