.btn-main {
  border: none;
  border-radius: 100px;
  background-color: #673ab7;
  max-width: 200em;
  width: auto;
  margin: 1em;

  mat-icon {
    margin-right: 0;
  }
}

mat-card {
  margin: 1em;
  border-radius: 10px;

  mat-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.2em;
  }
}
